version: '3'
services:
  backend:
    build: ./backend
    hostname: backend
    image: smallpoxlviv/cloud_lab_4_backend
    environment:
      - db_username=root
      - db_password=rootroot
      - db_name=cloud_lab_2
      - db_host=db_host
      - AWS_REGION=eu-west-3
    deploy:
      x-aws-autoscaling: 
        cpu: 10
        max: 2
    ports:
      - 5000:5000
  frontend:
    build: ./frontend
    hostname: frontend
    depends_on: 
      - backend
    image: smallpoxlviv/cloud_lab_4_frontend
    ports:
      - 80:80